<div class="mb-3">
    <div>
        <h2>CONTACTENOS</h2>
    </div>
    <form class="form-control" action="">
        <p><label for="">Nombre</label></p>
        <p> <input type="text" name="nombre" id="nombre" value=""> </p>
        <p><label for="">Teléfono</label> </p>
        <p> <input type="text" name="telefono" id="telefono" value=""></p>
        <p><label for="">Correo electrónico</label> </p>
        <p> <input type="email" value="" id="email"></p>
        <p><label for="">Mensaje</label> </p>
        <textarea name="comentario" cols="48" rows="7"
            placeholder="Ingrese su consulta"></textarea>
        <div class="novedades">
            <input type="checkbox" name="información" id="newsletter" value="" checked="">
            <label id="label-novedades" for="">Deseo recibir las novedades del sitio.</label>
        </div>
        <div>
            <label>Cuantos es 3 + 3 ?</label>
            <input type="text" id="id-captcha">
            <button class="btn btn-primary mb-3">Enviar</button>
                    </div>
   
    </form>

    
</div>
