<h3>Lista de productos</h3>
<table class="table text-center">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Imagen</th>
        <th>Cantidad</th>
        <th>Agregar al carrito</th>
      </tr>
    </thead>
  
    <tbody>
      
      @for (producto of productos; track producto.nombre) {
        <tr [ngClass]="{'resaltar':producto.oferta}" >
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.tipo }}</td>
        <td>{{ producto.precio | currency }}</td>
        @if (producto.stock>0) {
          <td>{{ producto.stock }}</td>
        }@else {
          <td>SIN STOCK</td>
        }     
        <td><img [src]="producto.image" width="80" height="60"  /></td>
        
        <td><app-input-integer [(quantity)]="producto.cantidad" [max]="producto.stock" *ngIf="producto.stock"
          (maxAlcanzado)="maxAlc($event)"></app-input-integer>
       
        <!--  Cant: {{producto.cantidad}}
          corchetes: datos que ingresan ->son el Input
        parentisis: datos que salen->son el @Output -->
        </td>

        <td><button class="btn btn-primary" (click)="agregarCarrito(producto)">Comprar</button></td>
      </tr>
    }
        @empty{
          <tr><td>No hay contenido para mostrar</td></tr>
        }       
       
    </tbody>
  </table>