<table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Imagen</th>
        <th>Agregar al carrito</th>
      </tr>
    </thead>
  
    <tbody>
      
      @for (producto of productos; track producto.nombre) {
        <tr [ngClass]="{'resaltar':producto.oferta}" >
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.tipo }}</td>
        <td>{{ producto.precio }}</td>
        @if (producto.stock>0) {
          <td>{{ producto.stock }}</td>
        }@else {
          <td>SIN STOCK</td>
        }     
        <td><img [src]="producto.image" width="80" height="60"  /></td>
        <td><button class="btn btn-primary">Comprar</button></td>
      </tr>
    }
        @empty{
          <tr><td>No hay contenido para mostrar</td></tr>
        }       
       
    </tbody>
  </table>