<h3>SOBRE NOSOTROS</h3>
<p> Somos un equipo de trabajo que hoy en día cuenta con 10 integrantes, pero hace 3 años cuando arrancamos éramos sólo
    2.
</p>


<h4>¿Por qué arrancamos?</h4>
<p> Nuestro objetivo es poder ofrecerles equipamiento a todos los argentinos amantes del deporte. </p>


<h4> ¿Cómo es la calidad de nuestros productos?</h4>
Nuestras prioridades son que todos puedan tener los productos y que sean de muy buena calidad, por eso nos tomamos mucho
trabajo en elegir qué traer para poder cumplir con nuestras prioridades.



<h4>¿Si quiero cambiar lo que compre puedo hacerlo?</h4>
<p> Por supuesto, podes realizar cambios siempre y cuando el producto se encuentre en las mismas condiciones.
</p>